{% extends "base.html" %}

{% block title %} Add new book {% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-md-center align-items-center vh-50">
        <h1> Edit book with id: <b>{{ book.book_id }}</b></h1>
        <form method="post" class="d-flex flex-column justify-content-md-center align-items-center vh-50">
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary"> Edit</button>
        </form>
        <p>
            <a href="{% url 'books' %}"> Back to books list </a>
        </p>
    </div>
{% endblock %}